<button #editLayerButton mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple (click)="editLayerDialog.show()">Edit Layer Dialog</button>

<mdl-dialog #editLayerDialog [mdl-dialog-config]="{
  clickOutsideToClose: false,
  styles:{'width': '400px'},
  isModal:true,
  openFrom: editLayerButton,
  enterTransitionDuration: 400,
  leaveTransitionDuration: 400}" (show)="onDialogShow(dialogRef)" (hide)="onDialogHide()">
  <h3 class="mdl-dialog__title">Add layer</h3>
  <div class="mdl-dialog__content">
    <mdl-textfield type="text" label="Layer name" [(ngModel)]="layerName" floating-label autofocus></mdl-textfield>
    <mdl-select label="Layer format" [(ngModel)]="layerFormat" floating-label autofocus>
      <mdl-option *ngFor="let format of formats" [value]="format">{{format}}</mdl-option>
    </mdl-select>
    <!-- <mdl-textfield type="text" label="Layer position" [(ngModel)]="layerPosition" floating-label autofocus></mdl-textfield> -->
  </div>
  <div class="mdl-dialog__actions">
    <button mdl-button (click)="saveLayer()" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Save</button>
    <button mdl-button (click)="editLayerDialog.close()" mdl-ripple>Cancel</button>
  </div>
</mdl-dialog>
