<div>
  <mdl-checkbox [mdl-ripple]="true" (click)="toggleWmsLayer()" [(ngModel)]="layerChecked">{{ getLayerName() }}</mdl-checkbox>
  <button mdl-button mdl-button-type="icon" (click)="editLayerDialog.show()" mdl-colored="primary"><mdl-icon>settings</mdl-icon></button>
  <mdl-slider min="0.0" max="1.0" step="0.1" value="1.0" (change)="updateAlpha($event)"></mdl-slider>
</div>

<mdl-dialog #editLayerDialog [mdl-dialog-config]="{
  clickOutsideToClose: false,
  styles:{'width': '300px'},
  isModal:true,
  openFrom: editLayerButton,
  enterTransitionDuration: 300,
  leaveTransitionDuration: 300}" (show)="onDialogShow(dialogRef)" (hide)="onDialogHide()">
  <div class="mdl-dialog__content">
    <mdl-textfield #layerNameField type="text" [(ngModel)]="editedLayerName" label="Layer name" floating-label autofocus></mdl-textfield>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
      <input class="mdl-textfield__input" placeholder="File" type="text" value="{{ layerFileName }}" />
      <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
        <i class="material-icons">attach_file</i><input type="file" (change)="doFileChange($event)" #uploadBtn>
      </div>
    </div>
  </div>
  <div class="mdl-dialog__actions">
    <button mdl-button (click)="saveLayerEdit()" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Save</button>
    <button mdl-button (click)="editLayerDialog.close()" mdl-ripple>Cancel</button>
  </div>
</mdl-dialog>