<div class="demo-container demo-layout-transparent interface-mute">
    <app-regis-layout #regisLayout1="regisLayout">
       <mdl-layout-header mdl-layout-header-transparent>
          <mdl-layout-header-row>
             <mdl-layout-title>Title</mdl-layout-title>
             <mdl-layout-spacer></mdl-layout-spacer>
             <nav class="mdl-navigation interface-clickable">
                <a class="mdl-navigation__link">Link 1</a>
                <a class="mdl-navigation__link">Link 2</a>
                <a class="mdl-navigation__link">Link 3</a>
             </nav>
          </mdl-layout-header-row>
       </mdl-layout-header>
       <mdl-layout-drawer #menuDrawer>
          <mdl-layout-title>Title</mdl-layout-title>
          <nav class="mdl-navigation interface-clickable">
            <app-layer-selector class="mdl-navigation__link"></app-layer-selector>
             <a class="mdl-navigation__link" (click)="regisLayout1.closeDrawer()">Link 2</a>
             <a class="mdl-navigation__link" (click)="regisLayout1.closeDrawer()">Link 3</a>
          </nav>
       </mdl-layout-drawer>
       <mdl-layout-content>
          <router-outlet></router-outlet>
       </mdl-layout-content>
    </app-regis-layout>
</div>