<div class="demo-container demo-layout-transparent">
    <mdl-layout #mdlLayout1="mdlLayout">
       <mdl-layout-header mdl-layout-header-transparent>
          <mdl-layout-header-row>
             <mdl-layout-title>Title</mdl-layout-title>
             <mdl-layout-spacer></mdl-layout-spacer>
             <nav class="mdl-navigation">
                <a class="mdl-navigation__link">Link 1</a>
                <a class="mdl-navigation__link">Link 2</a>
                <a class="mdl-navigation__link">Link 3</a>
             </nav>
          </mdl-layout-header-row>
       </mdl-layout-header>
       <mdl-layout-drawer>
          <mdl-layout-title>Title</mdl-layout-title>
          <nav class="mdl-navigation">
             <a class="mdl-navigation__link" (click)="mdlLayout1.closeDrawer()">Link 1</a>
             <a class="mdl-navigation__link" (click)="mdlLayout1.closeDrawer()">Link 2</a>
             <a class="mdl-navigation__link" (click)="mdlLayout1.closeDrawer()">Link 3</a>
          </nav>
       </mdl-layout-drawer>
       <mdl-layout-content>
          <router-outlet></router-outlet>
       </mdl-layout-content>
    </mdl-layout>
</div>